* {
  font-size: 16px;
  --dark-grey: #a9aaab;
  --darker-grey: #525252;
  --light-grey: #F4F4F4;
  --light-blue: #39f;
}

html, nav {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

p, ul {
  font-family: arial, sans-serif;
  margin: 1rem;
  color: var(--darker-grey);
  line-height: 1.5em;
}

code {
  background: var(--light-grey);
  display: block;
  margin: 1rem;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.main-section li {
  margin: 1rem;
}

nav li {
  border-top: 2px solid var(--dark-grey);
  width: 100%;
  padding: 16px 0 16px 14px;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: var(--darker-grey);
  transition: padding 0.5s ease-in,
              color 0.5s ease-in;
}

.main-section {
  margin: 2.4em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 99vh;
  border-right: 2px solid var(--dark-grey);
  padding-top: 10px;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}

#main-doc {
  position: absolute;
  left: 26%;
  overflow-x: hidden;
}

nav a:hover {
  padding-left: 26px;
  color: var(--light-blue);
}

nav header {
  padding: 0.75em;
}

header {
  color: var(--darker-grey);
  position: relative;
  padding-left: 1rem;
}

.main-section header::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -12px;
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid var(--light-blue);
  border-bottom: 10px solid transparent;
}

button {
  border: none;
  background: white;
  font-family: arial, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  position: relative;
  margin: 0 16px 26px 40px;
  color: var(--darker-grey);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -16px;
  height: 0;
  width: 0;
  border-top: 8px solid transparent;
  border-left: 12px solid var(--light-blue);
  border-bottom: 8px solid transparent;
}

button::before:focus {
  transform: rotate(90deg);
  display: inline-block;
}

/* media queries */
@media screen and (min-height: 909px) {
  nav {
    overflow-y: hidden;
  }
}

@media screen and (max-width: 1050px) {
  nav {
    width: 28%;
  }

  #main-doc {
    left: 29%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 770px) {
    nav {
    width: 30%;
  }

  nav a:hover {
    padding-left: 20px;
    color: var(--light-blue);
  }

  #main-doc {
    left: 31%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 670px) {
  nav {
    width: 99%;
    position: static;
  }

  #main-doc {
    position: static;
    overflow-x: hidden;
  }

  .main-section {
    margin: 1.6rem 0.2rem 0.8rem 0.8rem;
  }

  nav {
    height: auto;
    border: 2px solid var(--dark-grey);
  }

  nav ul {
    display: none;
  }

  .main-section ul {
    padding-left: 10px;
  }

  code {
    overflow-x: scroll;
  }

  main {
    margin: 1.6rem 0;
  }

  .main-section header {
    margin-left: 1.6rem ;
  }
}

/* hides the drop down menu button on larger screens */
@media screen and (min-width: 670px) {
  button {
    display: none;
  }
}
